body
{
    color: rgb(49, 50, 69);
    text-align: left;
    font-family: Calibri;
    font-size: 16 px;
    margin: 0;
    padding:0;
}

#container
{
    width:70%;
    padding:1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}