body
{
    color: red;
    text-align: left;
    font-family: Calibri;
    text-align: center;
    font-family: Arial;
    font-size: 16 px;
    margin: 0;
    padding:0;
}
#cabecera{
    background: url("../imagenes/fuji.jpg") 10px 10px;
    color: white;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
    font-weight: bold;
}

#container
{
    width:70%;
    padding:1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#footer
{
    background: #777;
    color:white;
    text-align: center;
    padding: 0.5em;
}