body
{
    color: rgb(7, 14, 142);
    text-align: left;
    font-family: Calibri;
    text-align: center;
    font-family: Arial;
    font-size: 16 px;
    margin: 0;
    padding:0;
}
#cabecera{
    background:rgb(123, 123, 232);
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
}

#container
{
    width:70%;
    padding:1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}